@layer components {
  .zen-cursor {
    *:has(> &) {
      caret-color: transparent;
    }

    &-caret {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      width: 1ch;
      height: 1lh;
      overflow: hidden;
      mix-blend-mode: difference;
      user-select: none;
      pointer-events: none;

      &[data-cursor-state='blink'] {
        @keyframes blink {
          0% {
            opacity: 1;
          }
          40% {
            opacity: 0.5;
          }
          50% {
            opacity: 0;
          }
          60% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }

        animation: blink 500ms 500ms linear infinite;
      }
    }
  }
}
