@layer components {
  .zen-cursor {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1ch;
    height: 1lh;
    user-select: none;
    line-height: 100%;
    pointer-events: none;

    // contains zero-width-space

    *:has(> &) {
      caret-color: transparent;
    }

    &[data-cursor-state='blink'] {
      .zen-cursor-caret {
        mix-blend-mode: difference;
        animation:
          var(--crt-anim-flicker),
          CursorBlink 500ms 500ms linear infinite alternate;
      }
    }
  }

  .zen-cursor-caret {
    align-self: flex-end;
    width: 80%;
    height: 100%;
    background: currentcolor;
    animation: var(--crt-anim-flicker);
  }
}
