@layer components {
  .zen-dialog {
    position: fixed;
    z-index: 9;
    inset: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &-inner {
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      min-width: 10rem;

      padding: 1.5rem;
      background: #000;
      border: var(--border);
      box-shadow:
        var(--shadow),
        inset var(--shadow);
    }

    &-heading {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      * {
        margin: 0;
      }
    }

    &-actions {
      display: flex;
      align-self: stretch;
      margin-top: 1rem;

      * {
        flex: 1;
      }
    }
  }
}
