@layer components {
  .zen-dialog {
    position: fixed;
    z-index: 9;
    inset: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--c-background);
  }

  .zen-dialog-inner {
    --btn-c-border: var(--c-background);
    --btn-c-background: rgb(var(--c-background-rgb) / 0.5);
    --btn-c-text: var(--c-background);
    --btn-hover-c-border: var(--c-background);
    --btn-hover-c-background: var(--c-background);
    --btn-hover-c-text: var(--c-primary);

    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    min-width: 12rem;

    padding: 1.5rem;
    background: var(--c-primary);
    color: var(--c-background);

    ::selection {
      background: var(--c-background);
      color: var(--c-primary);
    }
  }

  .zen-dialog-heading {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    * {
      margin: 0;
    }
  }

  .zen-dialog-actions {
    display: flex;
    align-self: stretch;
    margin-top: 1rem;

    * {
      flex: 1;
    }
  }
}
