@layer components {
  .zen-terminal {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .zen-terminal-output {
    padding-bottom: 0;
    padding-bottom: 0.75rem;
  }

  .zen-terminal-prompt {
    padding-top: 0.5rem;
    display: inline-flex;
    background: rgb(25 25 30);
  }

  .zen-terminal-prefix {
  }

  .zen-terminal-input-container {
    position: relative;
    flex: 1;
    overflow-x: auto;
  }

  .zen-terminal-input {
    background: none;
    outline: none;
    border: none;
    color: inherit;
    font: inherit;
    text-shadow: inherit;
    min-width: 1px;
  }
}
