@layer components {
  .zen-terminal {
    display: flex;
    flex-flow: column;
    height: 100%;

    &:not(:has(> .zen-terminal-output > *)) {
      .zen-terminal-output {
        display: none;
      }
    }

    &:has(> .zen-terminal-output > *) {
      .zen-terminal-output {
        padding-bottom: 0.5lh;
      }

      .zen-terminal-prompt {
        padding-top: 0.5lh;
      }
    }
  }

  .zen-terminal-column {
    display: flex;
    flex-flow: column;
  }

  .zen-terminal-row {
    display: flex;
    flex-flow: row;
  }

  .zen-terminal-output {
  }

  .zen-terminal-prompt {
    display: inline-flex;
    background: rgb(25 25 30);
    white-space: pre;
  }

  .zen-terminal-prefix,
  .zen-terminal-input-container {
    display: inline-flex;
  }

  .zen-terminal-input-container {
    position: relative;
    flex: 1;
    overflow-x: auto;
    padding-right: 1ch;
  }

  .zen-terminal-input {
    background: none;
    outline: none;
    border: none;
    color: inherit;
    font: inherit;
    text-shadow: inherit;
    min-width: 1px;
  }

  .zen-terminal-log {
    white-space: pre-wrap;
  }

  .zen-terminal-log-unformatted {
    white-space: normal;
  }

  .zen-terminal-log-printout {
    padding: 1rem;
    border: var(--bo);

    hr {
      margin: 2rem 0;
    }
  }
}
