@layer components {
  .zen-terminal {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    flex: 1 0;
    text-shadow: var(--text-shadow);

    &-input-container {
      position: relative;
    }

    &-input {
      background: none;
      outline: none;
      border: none;
      color: inherit;
      font: inherit;
      text-shadow: inherit;
    }
  }
}
