@layer components {
  .zen-typer-container {
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding-right: 2ch;
  }

  .zen-typer {
    position: relative;
    margin: 0;
    font-size: 1.2rem;
    white-space: pre-wrap;
    word-break: break-word;
    tab-size: 2;

    [data-typer-state='incomplete'] {
      display: none;
    }

    [data-typer-state='incomplete'],
    [data-typer-state='active'] {
      &:is(a, .link) {
        &::after {
          display: none;
        }
      }
    }

    // crazy margin trimming

    :is(h1, h2, h3, h4, h5, h6) {
      &:nth-child(1 of :not([data-typer-state='incomplete'])) {
        margin-top: 0;
      }
    }

    :is(
      p,
      ul,
      ol,
      :is(ul, ol) > li,
      blockquote,
      pre,
      code,
      table,
      details,
      hr,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
    ) {
      &:nth-last-child(1 of :not([data-typer-state='incomplete'])) {
        margin-bottom: 0;
      }
    }

    &--no-wrap {
      white-space: pre;
    }
  }

  .zen-typer-html {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid currentcolor;
    font: normal normal var(--f-size-base) / normal var(--f-base);
    white-space: normal;

    hr {
      text-shadow: none;
      margin: 2rem 0;
    }
  }
}
