@layer components {
  .zen-typer {
    &-container {
      overflow-y: auto;
      scrollbar-gutter: stable;
      padding-right: 2ch;
    }

    position: relative;
    margin: 0;
    font-size: 1.2rem;
    white-space: pre-wrap;
    text-shadow: var(--text-shadow);
    tab-size: 2;

    [data-typer-state='active'] {
      &:is(a) {
        &::after {
          display: none;
        }
      }
    }
  }
}
