@layer components {
  .zen-typer {
    position: relative;
    font-size: 1.2rem;

    [data-typer-state='incomplete'] {
      display: none;
    }

    [data-typer-state='incomplete'],
    [data-typer-state='active'] {
      &:is(a, .link) {
        &::after {
          display: none;
        }
      }
    }

    // crazy margin trimming

    :is(
      p,
      :is(ul, ol),
      :is(ul, ol) li,
      blockquote,
      pre,
      code,
      table,
      details,
      hr,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
    ) {
      &:not(:is(ul, ol) :is(ul, ol)):nth-child(1 of :not([data-typer-state='incomplete'])) {
        margin-top: 0;
      }

      &:nth-last-child(1 of :not([data-typer-state='incomplete'])) {
        margin-bottom: 0;
      }
    }

    &--scrollable {
      overflow-y: auto;
      scrollbar-gutter: stable;
      padding-right: 1rem;
    }
  }
}
