@layer base {
  [hidden] {
    display: none !important;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-background);
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background: linear-gradient(to top, #000, #000, #111, #111) 0 0 / 100% 2px;
    color: var(--color-primary);
    font: normal normal var(--font-size-base) / normal var(--font-base);
    padding: 8%;
    box-shadow: inset 0 0 7vw -2vw var(--color-secondary);
    scrollbar-color: var(--color-primary) var(--color-background);
    scrollbar-width: thin;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: flex;

      background: rgb(18 16 16 / 0.1);
      opacity: 0;
      pointer-events: none;
      animation: flicker 0.15s infinite;

      @keyframes flicker {
        0% {
          opacity: 0.27861;
        }
        5% {
          opacity: 0.34769;
        }
        10% {
          opacity: 0.23604;
        }
        15% {
          opacity: 0.90626;
        }
        20% {
          opacity: 0.18128;
        }
        25% {
          opacity: 0.83891;
        }
        30% {
          opacity: 0.65583;
        }
        35% {
          opacity: 0.67807;
        }
        40% {
          opacity: 0.26559;
        }
        45% {
          opacity: 0.84693;
        }
        50% {
          opacity: 0.96019;
        }
        55% {
          opacity: 0.08594;
        }
        60% {
          opacity: 0.20313;
        }
        65% {
          opacity: 0.71988;
        }
        70% {
          opacity: 0.53455;
        }
        75% {
          opacity: 0.37288;
        }
        80% {
          opacity: 0.71428;
        }
        85% {
          opacity: 0.70419;
        }
        90% {
          opacity: 0.7003;
        }
        95% {
          opacity: 0.36108;
        }
        100% {
          opacity: 0.24387;
        }
      }
    }
  }

  :is(a, .link) {
    color: var(--color-link);
    text-decoration: none;

    &:focus-visible {
      outline: unset;
    }

    &:hover,
    &:active,
    &:focus-visible {
      color: #fff;
      text-underline-offset: 2px;
      text-decoration: underline;
    }

    &::after {
      content: '';
      display: inline-flex;
      height: 0.7lh;
      aspect-ratio: 1 / 1;
      margin-left: 6px;
      vertical-align: middle;
      mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"/><path d="M19 19H5V5h7l-2-2H3v18h18V13l-2-2v8z"/></svg>')
        no-repeat center / cover;
      background: currentcolor;
    }
  }

  mark {
    background: var(--color-link);
    color: var(--color-background);
  }

  small {
    font-size: 0.6em;
  }

  :is(p, ul, ol, blockquote, pre, table, details, .std-codeblock) {
    margin-bottom: 1.5rem;

    &:not([hidden]):nth-last-child(1 of :not([hidden])) {
      margin-bottom: 0;
    }
  }

  :is(ul, ol) {
    list-style-position: inside;
    margin-right: 1.5rem;

    > li {
      margin-bottom: 0.75rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  :is(p, h1, h2, h3, h4, h5, h6) {
    text-wrap: pretty;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-style: normal;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 2rem;
    margin-top: 4rem;

    @media (width < 992) {
      font-size: 2rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin-top: 3.5rem;

    @media (width < 992) {
      font-size: 1.5rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 3.1rem;

    @media (width < 992) {
      font-size: 1.3rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h4 {
    font-size: 1.3rem;
    margin-top: 2.9rem;

    @media (width < 992) {
      font-size: 1.2rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h5 {
    font-size: 1.25rem;
    margin-top: 2.7rem;

    @media (width < 992) {
      font-size: 1.15rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h6 {
    margin-top: 2.5rem;
    font-size: var(--font-size-base);
  }

  code {
    background: var(--color-background);
  }
}
