@layer base {
  [hidden] {
    display: none !important;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-background);
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background: linear-gradient(to top, #000, #000, #111, #111) 0 0 / 100% 2px;
    color: var(--color-primary);
    font: normal normal 20px / normal var(--font-base);
    padding: 10%;
    box-shadow: inset 0 0 7vw -2vw var(--color-secondary);
    scrollbar-color: var(--color-primary) var(--color-background);
    scrollbar-width: thin;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: flex;

      background: rgb(18 16 16 / 0.1);
      opacity: 0;
      pointer-events: none;
      animation: flicker 0.15s infinite;

      @keyframes flicker {
        0% {
          opacity: 0.27861;
        }
        5% {
          opacity: 0.34769;
        }
        10% {
          opacity: 0.23604;
        }
        15% {
          opacity: 0.90626;
        }
        20% {
          opacity: 0.18128;
        }
        25% {
          opacity: 0.83891;
        }
        30% {
          opacity: 0.65583;
        }
        35% {
          opacity: 0.67807;
        }
        40% {
          opacity: 0.26559;
        }
        45% {
          opacity: 0.84693;
        }
        50% {
          opacity: 0.96019;
        }
        55% {
          opacity: 0.08594;
        }
        60% {
          opacity: 0.20313;
        }
        65% {
          opacity: 0.71988;
        }
        70% {
          opacity: 0.53455;
        }
        75% {
          opacity: 0.37288;
        }
        80% {
          opacity: 0.71428;
        }
        85% {
          opacity: 0.70419;
        }
        90% {
          opacity: 0.7003;
        }
        95% {
          opacity: 0.36108;
        }
        100% {
          opacity: 0.24387;
        }
      }
    }
  }

  a,
  .link {
    text-underline-offset: 2px;

    &:hover {
      text-decoration: underline;
    }
  }

  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  details,
  .std-codeblock {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-right: 24px;

    > li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 2rem;
    font-weight: 700;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 3rem;
    margin-top: 3rem;

    @media (width < 992) {
      font-size: 2rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h2 {
    font-size: 2rem;
    margin-top: 2rem;

    @media (width < 992) {
      font-size: 1.8rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h3 {
    font-size: 1.75rem;
    margin-top: 1.75rem;

    @media (width < 992) {
      font-size: 1.6rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 1.5rem;

    @media (width < 992) {
      font-size: 1.4rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h5 {
    font-size: 1.25rem;
    margin-top: 1.25rem;

    @media (width < 992) {
      font-size: 1.2rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h6 {
    margin-top: 1.2rem;
  }

  code {
    background: var(--color-background);
  }
}
