@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  [hidden] {
    display: none !important;
  }

  ::selection {
    background: var(--c-primary);
    color: var(--c-background-secondary);
  }

  body {
    display: flex;
    flex-flow: column;

    height: 100dvh;
    padding: 4%;

    color: var(--c-primary);
    font: normal normal var(--f-size-base) / normal var(--f-base);
    word-break: break-word;
    tab-size: 2;
    scrollbar-color: rgb(var(--c-primary-rgb) / 0.5) transparent;
    scrollbar-width: thin;
  }

  :is(a, .link) {
    color: var(--c-link);
    text-decoration: none;

    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:active,
    &:focus-visible {
      color: #fff;
      text-underline-offset: 2px;
      text-decoration: underline;
    }

    &::after {
      content: '';
      display: inline-flex;
      height: 0.7lh;
      aspect-ratio: 1 / 1;
      margin-left: 6px;
      vertical-align: middle;
      mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"/><path d="M19 19H5V5h7l-2-2H3v18h18V13l-2-2v8z"/></svg>')
        no-repeat center / cover;
      background: #fff;
    }
  }

  p {
    margin: 0.75rem 0;
  }

  :is(ul, ol, table, blockquote, details) {
    margin: 1.5rem 0;
  }

  :is(ul, ol) {
    list-style-position: inside;

    :is(ul, ol) {
      margin: 0.75rem 0 0.75rem 2ch;
    }

    li {
      margin: 0.75rem 0;

      &::marker {
        font-weight: 900;
      }
    }
  }

  ul {
    list-style-type: '- ';
  }

  ol {
    li {
      &::marker {
        content: counters(list-item, '.') '. ';
      }
    }
  }

  :is(p, h1, h2, h3, h4, h5, h6) {
    text-wrap: pretty;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-style: normal;
  }

  h1 {
    font-size: 2rem;
    margin-top: 3rem;

    @media (width < 992) {
      font-size: 2rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin-top: 2.8rem;

    @media (width < 992) {
      font-size: 1.5rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2.6rem;

    @media (width < 992) {
      font-size: 1.3rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h4 {
    font-size: 1.3rem;
    margin-top: 2.4rem;

    @media (width < 992) {
      font-size: 1.2rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h5 {
    font-size: 1.25rem;
    margin-top: 2.4rem;

    @media (width < 992) {
      font-size: 1.15rem;
    }

    @media (width < 768) {
      font-size: 1.1rem;
    }
  }

  h6 {
    margin-top: 2.4rem;
    font-size: var(--f-size-base);
  }

  mark {
    background: var(--c-link);
    color: var(--c-background-secondary);
  }

  small {
    font-size: 0.6em;
  }

  hr {
    border: none;
    border-top: var(--bo);
    margin: 1rem 0;
  }

  code,
  kbd,
  pre {
    font-family: var(--f-base);
  }

  code,
  kbd {
    padding: 4px;
    background: var(--c-background-secondary);
  }

  pre {
    display: flex;
    overflow: auto;
  }

  pre:has(> code) {
    padding: 2rem;
    background: var(--c-background-secondary);
    box-shadow: 6px 6px 4px -2px #000;

    code {
      padding: 0;
      background: none;
    }
  }

  img {
    width: auto;
    max-width: 100%;
  }

  :is(input, button, textarea, select) {
    font: inherit;
  }

  // crazy margin trimming

  :is(
    p,
    :is(ul, ol),
    :is(ul, ol) li,
    blockquote,
    pre,
    code,
    table,
    details,
    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
  ) {
    hr + &,
    &:not(:is(ul, ol) :is(ul, ol)):nth-child(1 of :not([hidden])) {
      margin-top: 0;
    }

    &:has(+ hr),
    &:nth-last-child(1 of :not([hidden])) {
      margin-bottom: 0;
    }
  }
}
