@layer utils {
  .u-no-margin {
    margin: 0;
  }

  .u-zen-btn {
    outline: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--btn-c-border);
    background: var(--btn-c-background);
    color: var(--btn-c-text);
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:active,
    &:focus-visible {
      border-bottom-color: var(--btn-hover-c-border);
      background: var(--btn-hover-c-background);
      color: var(--btn-hover-c-text);
    }
  }

  .u-zen-crt-background {
    position: relative;
    background: var(--crt-c-background);

    &::before,
    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      inset: 0;
      transform: translateZ(0);
      mix-blend-mode: overlay;
      pointer-events: none;
    }

    &::before {
      background: repeating-linear-gradient(
        var(--crt-c-red) 0,
        var(--crt-c-green) 3px,
        var(--crt-c-blue) 6px,
        var(--crt-c-red) 0
      );
    }

    &::after {
      background: repeating-linear-gradient(
        90deg,
        var(--crt-c-red) 0,
        var(--crt-c-green) 1px,
        var(--crt-c-blue) 4px,
        transparent 0
      );
    }
  }

  .u-zen-crt-text {
    padding: 4px;
    animation: var(--crt-anim-flicker-text);

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}
