@layer vars {
  :root {
    // fonts

    --f-base: dos;
    --f-size-base: 1.1rem;

    // colors

    --c-primary-rgb: 33 221 255;
    --c-primary: rgb(var(--c-primary-rgb));

    --c-background-rgb: 12 28 40;
    --c-background: rgb(var(--c-background-rgb));

    --c-background-secondary-rgb: 5 6 7;
    --c-background-secondary: rgb(var(--c-background-secondary-rgb));

    --c-link-rgb: 200 255 202;
    --c-link: rgb(var(--c-link-rgb));

    // borders

    --bo: 1px solid var(--c-primary);

    // buttons

    --btn-c-background: rgb(var(--c-background-rgb) / 0.5);
    --btn-c-text: var(--c-background);
    --btn-hover-c-background: var(--c-background);
    --btn-hover-c-text: var(--c-primary);

    // crt

    --crt-c-background-rgb: 25 25 30;
    --crt-c-background: rgb(var(--crt-c-background-rgb));

    --crt-c-red-rgb: 218 49 49;
    --crt-c-red: rgb(var(--crt-c-red-rgb));
    --crt-c-green-rgb: 112 159 115;
    --crt-c-green: rgb(var(--crt-c-green-rgb));
    --crt-c-blue-rgb: 40 129 206;
    --crt-c-blue: rgb(var(--crt-c-blue-rgb));

    --crt-c-text-pink-rgb: 255 0 255;
    --crt-c-text-pink: rgb(var(--crt-c-text-pink-rgb));
    --crt-c-text-green-rgb: 0 255 255;
    --crt-c-text-green: rgb(var(--crt-c-text-green-rgb));

    --crt-sh-flicker-from: 1px 0 0 var(--crt-c-text-pink), -2px 0 0 var(--crt-c-text-green);
    --crt-sh-flicker-to:
      2px 0.5px 2px var(--crt-c-text-pink), -1px -0.5px 2px var(--crt-c-text-green);

    --crt-anim-flicker: CrtFlicker 10ms infinite alternate;
    --crt-anim-flicker-text: CrtFlickerText 10ms infinite alternate;
  }
}
