@layer fonts {
  @font-face {
    font-family: 'DOS';
    src:
      url('/fonts/dos.woff2') format('woff2'),
      url('/fonts/dos.woff') format('woff'),
      url('/fonts/dos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
